
body{
    background-color: aquamarine;
}
h1{
color:black;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#input{
    text-align: center;
}
#columnsInput {
    margin-bottom: 1em;
}
tr,
td {
    border: 1px solid black;
    padding: 1em;
}

table {
	margin-top: 2%;
    border: 1;
    width: 100%;
    border-style: solid;
    border-color: grey;
}

